[Desktop Entry]
Type=Application
Version=0.1.3
Name=Spaceship Dodge
Comment=A game made by PegaFox
Exec=spaceship_dodge_launch.sh
Icon=Ship_Idle
Terminal=true
Categories=PegaFox;game
Keywords=PegaFox;Python;Game

